html,body {
  overflow-x: hidden:
}


html, body, form, h1 {
  box-sizing: border-box;  
}

form > h2{
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  color:#FFFFFF;
  background-color: #00000F;
  width: 100%;
  padding:20px 0;
  border-radius: 4px 4px 0 0;
  text-align:center;
}
  
 form {
   width: 480px;
   margin: 100px auto;
   border-radius: 4px;
   font-family: 'Lato', sans-serif;
   box-shadow: 2px 2px 5px 1px #727272;
  }

input,textarea {
  font: inherit;
  display: block;
  width: 420px;
  border:none;
  padding:20px 0;
  margin-top: 30px;
  margin-left:30px;
  margin-right:30px;
  border-bottom: 1px solid #000000;
  color: #212121;
}
form textarea {
  line-height:120%;
  margin-bottom:0px;
  line-height:normal;
  resize:none;
}
textarea::-webkit-input-placeholder {
  padding:0px;
  margin:0px;
  color:red;
}

button {
  cursor: pointer;
  border-radius:50px;
  border:none;
  width: 50px;
  height:50px;
  margin-left:215px;
  margin-top: 20px;
  margin-bottom:20px;
  background: #CDDC39;
  font-family: 'Lato', sans-serif;
  white-space: nowrap;
  box-sizing: border-box;
  display:inline-block;
  color:white;
  
}

button i {
  margin-right:20px;
  padding:12px;
  
}

button:hover {
  width:120px;
    -webkit-transform: translateX(-35px);
      -ms-transform: translateX(-35px);
          transform: translateX(-35px);
}

button:hover i{
  margin-right:1px;
  
}

 

  
