h1 {
  color: rgb(48,48,48);
}
h3 {
  color: rgb(48,48,48);
}

.service-item {
  background: black;
  background-color: black;
}
.row.text-center {
  background-color: black;
}

.bg-primary{
  background-color: black !important;
}

.btn-dark{
background-color: rgba(62, 58, 58, 0.4);
}

ul {
  list-style-type: none;
}

.portfolio{
  background-color: black;
}
